.main-header {
  background-color: #d33a2c;
  display: grid;
  grid-template-columns: min-content min-content minmax(100px, 100%);
  column-gap: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}

.sub-nav-list {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.sub-nav-list::-webkit-scrollbar {
  display: none;
}

.sub-nav-list > li {
  padding: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffe7e7;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  color: red;
}

.sub-nav-list > li:hover {
  border: 1px solid #ee857b;
}

.search-input {
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: 15px 45%;
  padding-left: 50px;
  padding-right: 15px;
}

.search-input:focus {
  outline: none;
  border-color: transparent;
}
