<header class="p-4 main-header">
  <h1 class="w-10 h-6">
    <img src="assets/logo.jpg" alt="" />
  </h1>

  <nav></nav>

  <div class="search-input-wrapper">
    <input
      type="search"
      class="w-full h-full rounded-lg search-input"
      [style.backgroundImage]="'url(' + imageUrl + ')'"
      placeholder="Search author..."
    />
  </div>
</header>

<header>
  <nav class="p-2">
    <ul class="sub-nav-list">
      <li>Love</li>
      <li>Religion</li>
      <li>Job</li>
      <li>Family</li>
      <li>Friends</li>
      <li>Marriage</li>
      <li>Others</li>
    </ul>
  </nav>
</header>
