<!-- Desktop view-->
<div class="desktop-view">
  <p-scrollPanel [style]="{ width: '70vw', height: '75vh', padding: '10px' }">
    <div class="grid grid-cols-2 gap-4">
      <div *ngFor="let row of quotes">
        <p-card [style]="{ width: '400px' }">
          <img
            alt="Card"
            src="{{ row.image_url }}"
            style="width: 400px; height: 200px"
          />
          <ng-template pTemplate="footer">
            <div class="flex justify-between">
              <div>
                <p class="author-name">{{ row.author }}</p>
              </div>

              <div class="flex items-center justify-center gap-4">
                <i
                  class="pi pi-heart"
                  style="color: red; font-size: 1rem; cursor: pointer"
                  (click)="onShareClick(row.quote_id)"
                  pTooltip="Like"
                  tooltipPosition="bottom"
                  >1.2K</i
                >
                <i
                  class="pi pi-send"
                  style="color: green; font-size: 1rem; cursor: pointer"
                  (click)="onShareClick(row.quote_id)"
                  pTooltip="Share"
                  tooltipPosition="bottom"
                  >1.2K</i
                >
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="skip"
        [rows]="limit"
        [totalRecords]="totalItems"
      ></p-paginator>
    </div>
  </p-scrollPanel>
</div>

<!-- Mobile view-->

<div class="mobile-view">
  <div class="flex flex-col gap-4">
    <div *ngFor="let row of quotes">
      <p-card [style]="{ width: '350px' }">
        1.2K
        <img
          alt="Card"
          src="{{ row.image_url }}"
          style="width: 350px; height: 200px"
        />

        <ng-template pTemplate="footer">
          <div class="flex justify-between">
            <div>
              <p class="author-name">{{ row.author }}</p>
            </div>

            <div lass="flex items-center justify-center gap-4">
              <i
                class="pi pi-heart"
                style="color: red; font-size: 1rem; cursor: pointer"
                (click)="onShareClick(row.quote_id)"
                pTooltip="Like"
                tooltipPosition="bottom"
                >1.2K</i
              >
              <i
                class="pi pi-send"
                style="color: green; font-size: 1rem; cursor: pointer"
                (click)="onShareClick(row.quote_id)"
                pTooltip="Share"
                tooltipPosition="bottom"
                >1.2K</i
              >
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="skip"
      [rows]="limit"
      [totalRecords]="totalItems"
    ></p-paginator>
  </div>
</div>

<app-loader [show]="loading"></app-loader>
